parameters:
    level: 5
    paths:
        - app
        - tests
    ignoreErrors:
        - '#Call to an undefined method Illuminate\\Database\\Eloquent\\Builder::#'
        - '#Call to an undefined static method App\\Models\\.*::find\(\)#'
        - '#Call to an undefined static method App\\Models\\.*::whereHas\(\)#'
        - '#Access to an undefined property App\\Models\\Activity::\$children#'
    reportUnmatchedIgnoredErrors: false
    tmpDir: storage/phpstan 